.projects {
  padding: 100px 0 120px;
}

.container {
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.link {
  margin-top: 55px;
}

@media screen and (max-width: 768px) {
  .projects {
    padding: 80px 0 100px;
  }
}
